<form class="hourspaysurvey">

    {{!-- enctype="multipart/form-data"> --}}
    <div class="group-zero row">
        <label for="emailaddress">Please enter your email address:</label>
        <input class="form-control" type="text" id="email">
        <button class="group-zero" id="saveemail">NEXT</button>
    </div>
    </div>
    </div>
    {{!-- <div class="form-group horiztonal-form group-one row" id="salarydiv">
        <p>What is Your Current Salary Range?</p>
        <input type="radio" name="salaryans" value="30000"><label>25,000 - 35,000</label>
        <input type="radio" name="salaryans" value="41000"><label>36,000 - 46,000</label>
        <input type="radio" name="salaryans" value="52000"><label>47,000 - 57,000</label>
        <input type="radio" name="salaryans" value="63000">
        <label>58,000 - 68,000 </label>
        <input type="radio" name="salaryans" value="70000">
        <label>69,000 +</label>
        <div>
            <div class="row">
                <button id="paysave">NEXT</button>
            </div>
        </div>
    </div> --}}
    <div class="group-two">
        <label>What is your skill level?</label>
        </br>
        <div class="input-group-prepend">
            <div class="input-group-radio">
                <input type="radio" name="skill" value="entry" aria-label="radio for entry level"> Entry
                Level</input>
            </div>
        </div>
        <div class="input-group-prepend">
            <div class="input-group-radio">
                <input type="radio" name="skill" value="general" aria-label="radio for general tech"> General
                Tech</input>
            </div>
        </div>
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="skill" value="certified" aria-label="radio for certified tech">
                    Certified
                    Tech</input>
                </div>
            </div>
        <button id="saveSkill">NEXT</button>
    </div>
    {{!-- <input type="radio" name="skill" value="entry"><label>Entry Level</label> --}}
    {{!-- <input type="radio" name="skill" value="general"> <label>General Tech</label> --}}
    {{!-- <input type="radio" name="skill" value="certified"><label>Certified Tech</label> --}}
    </div>
    <div class="group-three">
        <label for="hoursperweekans">How Many Hours Per Week Do You Work?</label>
        <div class="input-group">
            <div class="input-group-text">
                <input class="form-control" type="text" id="hoursperweekans" aria-label="text for hours per week">
            </div>

        </div>
        <button id="savehourans">NEXT</button>
    </div>
    <div class="group-threehalf">
        <label for="hoursperweekans">How Much Do You Earn in an Average Week?</label>
        <div class="input-group" id="no-flex-direction">
            <span class="input-group-text">$</span>
            <input class="form-control" type="text" id="earnings" aria-label="text for earnings per week">
            <span class="input-group-text">.00</span>
        </div>
        <button id="saveearnings">NEXT</button>
    </div>
    <div class="group-four">
        <label>How does your salary rank amongst your auto tech peers?</label>
        </br>
        <div class="input-group-prepend">
            <div class="input-group-radio">
                <input type="radio" name="rank" value="32" aria-label="radio for Top 10%">
                Top 10%</input>
            </div>
        </div>
        <div class="input-group-prepend">
            <div class="input-group-radio">
                <input type="radio" name="rank" value="28" aria-label="radio for Top 25%">
                Top 25%</input>
            </div>
        </div>
        <div class="input-group-prepend">
            <div class="input-group-radio">
                <input type="radio" name="rank" value="24" aria-label="radio for Top 50%">
                Top 50%</input>
            </div>
        </div>
        <button id="saveRank">NEXT</button>
    </div>
    </div>
    <div class="group-five">
        <label>My Salary is in-Line with Fair Market Value</label>
        <div class="input-group flex-column">
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="fairsalary" value="yes" aria-label="radio for yes">
                    Yes</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="fairsalary" value="no" aria-label="radio for yes">
                    No</input>
                </div>
            </div>
        </div>
        <button id="savefairsalary" type="submit">NEXT</button>
    </div>
    <div class="group-six">
        <label>My Current Benefit Offerings Include: (Click All That Apply)</label>
        <div class="input-group flex-column">
            <div class="input-group-prepend">
                <div class="input-group-checkbox">
                    <input class="form-check-input mb-3" type="checkbox" name="benefits" id="medical"
                        aria-label="checkbox for medical">
                    Medical</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-checkbox">
                    <input class="form-check-input mb-3" type="checkbox" name="benefits" id="lifeins"
                        aria-label="radio for life insurance">
                    Life Insurance</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-checkbox">
                    <input class="form-check-input mb-3" type="checkbox" name="benefits" id="ltdis"
                        aria-label="checkbox for Long Term Disability">
                    Long Term Disability</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-checkbox">
                    <input class="form-check-input mb-3" type="checkbox" name="benefits" id="401k"
                        aria-label="checkbox for 401k Employer Match">
                    401k Employer Match</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-checkbox">
                    <input class="form-check-input mb-3" type="checkbox" name="benefits" id="tuition"
                        aria-label="checkbox for Tuition Reimbursement">
                    Tuition Reimbursement</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-checkbox">
                    <input class="form-check-input mb-3" type="checkbox" name="benefits" id="vacation"
                        aria-label="checkbox for vacation">
                    Vacation Time</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-checkbox">
                    <input class="form-check-input mb-3" type="checkbox" name="benefits" id="none"
                        aria-label="checkbox for none">
                    None of the Above</input>
                </div>
            </div>
        </div>
        <button id="savebenefits" type="submit">NEXT</button>
    </div>
    <div class="group-seven">
        <div class="input-group flex-column">
            <label>I Am Often Given The Same Appreciation as Other Co-Workers</label>
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input class="form-input" type="radio" name="emplappreciation" aria-label="radio for Yes"
                        value="yes">
                    Yes</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input class="form-input" type="radio" name="emplappreciation" aria-label="radio for no" value="no">
                    No</input>
                </div>
            </div>
        </div>
        <button id="saveemployapp" type="submit">NEXT</button>
    </div>
    <div class="group-sevenhalf">
        <label>My Company Offers Employee Appreciation Programs (Click All That Apply)</label>
        <div class="input-group flex-column">
            <div class="input-group-prepend">
                <div class="input-group-checkbox">
                    <input class="form-check-input mb-3" type="checkbox" name="apprprog" id="gifts"
                        aria-label="checkbox for gifts">
                    Recognition Gifts (i.e., free lunch, tickets to sporting events/concerts, happy hour)</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-checkbox">
                    <input class="form-check-input mb-3" type="checkbox" name="apprprog" id="discount"
                        aria-label="checkbox for discounts">
                    Employee Discounts</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-checkbox">
                    <input class="form-check-input mb-3" type="checkbox" name="apprprog" id="discount"
                        aria-label="checkbox for office perks">
                    Office Perks</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-checkbox">
                    <input class="form-check-input mb-3" type="checkbox" name="apprprog" id="no-perk"
                        aria-label="checkbox for no perks">
                    None of the Above</input>
                </div>
            </div>
            <button id="saveapprprog" type="submit">NEXT</button>
        </div>
    </div>
    <div class="group-eight">
        <label>In Addition to Repair Work, I Have to: (Click All That Apply)</label>
        <div class="input-group flex-column">
            <div class="input-group-prepend">
                <div class="input-group-checkbox">
                    <input class="form-check-input mb-3" type="checkbox" name="addtlwork" id="estimates"
                        aria-label="checkbox for office perks">
                    Prepare Customer Estimates</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-checkbox">
                    <input class="form-check-input mb-3" type="checkbox" name="addtlwork" id="collectparts"
                        aria-label="checkbox for office perks">
                    Collect Parts For Repair Work</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-checkbox">
                    <input class="form-check-input mb-3" type="checkbox" name="addtlwork" id="communicatecust"
                        aria-label="checkbox for office perks">
                    Communicate With Clients to Determine Problems</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-checkbox">
                    <input class="form-check-input mb-3" type="checkbox" name="addtlwork" id="clean"
                        aria-label="checkbox for office perks">
                    Clean Work Area After Each Shift</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-checkbox">
                    <input class="form-check-input" type="checkbox" name="addtlwork" id="quotes"
                        aria-label="checkbox for office perks">
                    Prepare Quotes</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-checkbox">
                    <input class="form-check-input mb-3" type="checkbox" name="addtlwork" id="noaddtlwork"
                        aria-label="checkbox for office perks">
                    None of the Above</input>
                </div>
            </div>
        </div>
        <button id="saveaddtlwork" type="submit">NEXT</button>
    </div>
    <div class="group-nine">
        <label>What Percent of Your Day is Actually Spent Reparing Vehicles?</label>
        <div class="input-group flex-column">
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="percent" value=".9" aria-label="radio for 90%">90%</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="percent" value=".75" aria-label="radio for 75%">75%</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="percent" value=".5" aria-label="radio for 50%">50%</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="percent" value=".4" aria-label="radio for under 50%">Less Than
                    50%</input>
                </div>
            </div>
        </div>
        <button id="savepercent" type="submit">NEXT</button>
    </div>
    <div class="group-ten">
        <label>It's Often Difficult to Stay Current with Repairs Because of Secondary
            Responsibilities</label>
        <div class="input-group flex-column">
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="staycurrent" value="yes" aria-label="radio for yes">Yes</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="staycurrent" value="no" aria-label="radio for no">No</input>
                </div>
            </div>
        </div>
        <button id="savestaycurrent" type="submit">NEXT</button>
    </div>
    <div class="group-tenhalf">
        <label>My Company Provides Continuing Education and/or Training (Click All That Apply)</label>
        <div class="input-group flex-column">
            <div class="input-group-prepend">
                <div class="input-group-checkbox">
                    <input class="form-check-input mb-3" type="checkbox" name="contedu" id="EOM"
                        aria-label="checkbox for Manufacturer training">
                    Paid Manufacturer Specific Certification Training</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-checkbox">
                    <input class="form-check-input mb-3" type="checkbox" name="contedu" id="tuitionbonus"
                        aria-label="checkbox for tuitionbonus">
                    Tuition Reimbursement and Tool Bonus Program</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-checkbox">
                    <input class="form-check-input mb-3" type="checkbox" name="contedu" id="leadership"
                        aria-label="checkbox for tuitionbonus">
                    Leadership Development Training</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-checkbox">
                    <input class="form-check-input mb-3" type="checkbox" name="contedu" id="external"
                        aria-label="checkbox for Training From External Sources">
                    Training From External Sources (e.g., manager, HR Rep, etc.)</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-checkbox">
                    <input class="form-check-input mb-3" type="checkbox" name="contedu" id="none"
                        aria-label="checkbox for Training From External Sources">
                    None of the Above</input>
                </div>
            </div>
        </div>
        <button id="savecontedu" type="submit">NEXT</button>
    </div>
    <div class="group-eleven">
        <label>I am Encouraged to Further My Eductation to Advance My Career</label>
        <div class="input-group flex-column">
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="adveducation" value="yes" aria-label="radio for yes">Yes</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="adveducation" value="no" aria-label="radio for no">No</input>
                </div>
            </div>
        </div>
        <button id="saveadveducation" type="submit">NEXT</button>
    </div>
    <div class="form-group group-twelve">
        <label>My Company Does Not Incentivize Continuing Education</label>
        <div class="input-group flex-column">
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="noeduincentive" value="yes" aria-label="radio for yes">Yes</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="noeduincentive" value="no" aria-label="radio for no">No</input>
                </div>
            </div>
        </div>
        <button id="savenoeduincentive" type="submit">NEXT</button>
    </div>
    <div class="group-twelvehalf">
        <div class="input-group flex-column"></div>
        <label>My Company Provides State-of-the-Art Technology Tools (Check All That Apply)</label>
        <div class="input-group-prepend">
            <div class="input-group-checkbox">
                <input class="form-check-input mb-3" type="checkbox" name="techtool" id="text"
                    aria-label="checkbox for Text-to-Customer">Text-to-Customer</input>
            </div>
        </div>
        <div class="input-group-prepend">
            <div class="input-group-checkbox">
                <input class="form-check-input mb-3" type="checkbox" name="techtool" id="onlinepayment"
                    aria-label="checkbox for Text-to-Customer">
                Online Payment</input>
            </div>
        </div>
        <div class="input-group-prepend">
            <div class="input-group-checkbox">
                <input class="form-check-input mb-3" type="checkbox" name="techtool" id="photovideo"
                    aria-label="checkbox for photo video">
                Photo-Video Alert to Customer</input>
            </div>
        </div>
        <div class="input-group-prepend">
            <div class="input-group-checkbox">
                <input class="form-check-input mb-3" type="checkbox" name="techtool" id="empIM"
                    aria-label="checkbox for photo video">
                Employee-to-Employee Instant Messaging for Parts and Approvals</input>
            </div>
        </div>
        <div class="input-group-prepend">
            <div class="input-group-checkbox">
                <input class="form-check-input mb-3" type="checkbox" name="techtool" id="notechtools"
                    aria-label="checkbox for photo video">
                None of the Above</input>
            </div>
        </div>
        <button id="savetechtool" type="submit">NEXT</button>
    </div>
    <div class="form-group group-thirteen">
        <label>My Company Provides Me the Necessary Safety Equiptment to Safely Perform My
            Duties</label>
        <div class="input-group flex-column">
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="safetools" value="yes" aria-label="radio for yes">Yes</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="safetools" value="no" aria-label="radio for no">No</input>
                </div>
            </div>
        </div>
        <button id="savesafetools" type="submit">NEXT</button>
    </div>
    <div class="form-group group-fourteen">
        <label>My Company Provides Day-to-Day Tools for Mechanics, Not Technicians</label>
        <div class="input-group flex-column">
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="mechvstechtools" value="yes" aria-label="radio for yes">Yes</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="mechvstechtools" value="no" aria-label="radio for no">No</input>
                </div>
            </div>
        </div>
        <button id="savemechvstechtools" type="submit">NEXT</button>
    </div>
    <div class="form-group group-fifteen">
        <label>My Manager Works With Me On My Schedule Needs</label>
        <div class="input-group flex-column">
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="schedneed" value="yes" aria-label="radio for yes">Yes</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="schedneed" value="no" aria-label="radio for no">No</input>
                </div>
            </div>
        </div>
        <button id="saveschedneed" type="submit">NEXT</button>
    </div>
    <div class="form-group group-sixteen">
        <label>My Company Provides Opportunities to Advance My Career</label>
        <div class="input-group flex-column">
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="advopp" value="yes" aria-label="radio for yes">Yes</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="advopp" value="no" aria-label="radio for no">No</input>
                </div>
            </div>
        </div>
        <button id="saveadvopp" type="submit">NEXT</button>
    </div>
    <div class="form-group group-seventeen">
        <label>My Productivity is Recognized as Equal to Co-Workers'</label>
        <div class="input-group flex-column">
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="equalprod" value="yes" aria-label="radio for yes">Yes</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="equalprod" value="no" aria-label="radio for no">No</input>
                </div>
            </div>
        </div>
        <button id="saveequalprod" type="submit">NEXT</button>
    </div>
    <div class="form-group group-eighteen">
        <label>My Company Respects Me and My Position</label>
        <div class="input-group flex-column">
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="respect" value="yes" aria-label="radio for yes">Yes</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="respect" value="no" aria-label="radio for no">No</input>
                </div>
            </div>
        </div>
        <button id="saverespect" type="submit">NEXT</button>
    </div>
    <div class="form-group group-nineteen">
        <label>My Company Undervalues My Technical Skill Set</label>
        <div class="input-group flex-column">
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="undervalue" value="yes" aria-label="radio for yes">Yes</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="undervalue" value="no" aria-label="radio for no">No</input>
                </div>
            </div>
        </div>
        <button id="saveundervalue" type="submit">NEXT</button>
    </div>
    <div class="form-group group-twenty">
        <label>My Company Treats Me Like a Mechanic, Not a Technician</label>
        <div class="input-group flex-column">
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="mechvstech" value="yes" aria-label="radio for yes">Yes</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="mechvstech" value="no" aria-label="radio for no">No</input>
                </div>
            </div>
        </div>
        <button id="savemechvstech" type="submit">NEXT</button>
    </div>
    <div class="form-group group-twentyone">
        <label>My Company Strongly Believes in a Work/Life Balance</label>
        <div class="input-group flex-column">
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="balance" value="yes" aria-label="radio for yes">Yes</input>
                </div>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-radio">
                    <input type="radio" name="balance" value="no" aria-label="radio for no">No</input>
                </div>
            </div>
        </div>
        <button id="savebalance" type="submit">NEXT</button>
    </div>
</form>

<script src="/js/flow.js"></script>