<form class="hourspaysurvey" enctype="multipart/form-data">
 <div class="form-group group-zero">
        <label for="emailaddress">Please enter your email address:</label>
    <input class="form-control" type="text" id="email">
    <button id="saveemail">NEXT</button>
</div>
    <div class="form-group group-one">
        <p>What is Your Current Salary Range?</p>
        <input type="radio" name="salaryans" value="30000">
        <label>25,000 - 35,000</label>
        <input type="radio" name="salaryans" value="41000">
        <label>36,000 - 46,000</label>
        <input type="radio" name="salaryans" value="52000">
        <label>47,000 - 57,000</label>
        <input type="radio" name="salaryans" value="63000">
        <label>58,000 - 68,000 </label>
        <input type="radio" name="salaryans" value="70000">
        <label>69,000 +</label>
    <button id="paysave">NEXT</button>
      </div>
    <div class="form-group group-two">
            <label>What is your skill level?</label>
            </br>
            <input type="radio" name="skill" value="entry">
            <label>Entry Level</label>
            <input type="radio" name="skill" value="general">
            <label>General Tech</label>
            <input type="radio" name="skill" value="certified">
            <label>Certified Tech</label>
        <button id="saveSkill">NEXT</button>
         </div>
    <div class="form-group group-three">
        <label for="hoursperweekans">How Many Hours Per Week Do You Work?</label>
    <input class="form-control" type="text" id="hoursperweekans">
    <button id="savehourans">NEXT</button>
</div>
   <div class="form-group group-threehalf">
        <label for="hoursperweekans">How Much Do You Earn in an Average Week?</label>
    <input class="form-control" type="text" id="earnings">
    <button id="saveearnings">NEXT</button>
</div>
 <div class="form-group group-four">
            <label>How does your salary rank amongst your auto tech peers?</label>
            </br>
            <input type="radio" name="rank" value="32">
            <label for="top10">Top 10%</label>
            <input type="radio" name="rank" value="28">
            <label for="top25">Top 25%</label>
            <input type="radio" name="rank" value="24">
            <label for="top50">Top 50%</label>
             <button id="saveRank" type="submit">NEXT</button>
        </div>
    <div class="form-group group-five">
            <label>My Salary is in-Line with Fair Market Value</label>
            <input type="radio" name="fairsalary" value="yes">
            <label for="yes">Yes</label>
            <input type="radio" name="fairsalary" value="no">
            <label for="no">No</label>
              <button id="savefairsalary" type="submit">NEXT</button>
        </div>
     <div class="form-group group-six">
            <label>Benefits</label>
            <p>My Current Benefit Offerings Include: (Click All That Apply)</p>
            <input class="form-input" type="checkbox" name="benefits" id="medical">
            <label>Medical</label>
            <input class="form-input" type="checkbox" name="benefits" id="lifeins">
            <label>Life Insurance</label>
            <input class="form-input" type="checkbox" name="benefits" id="ltdis">
            <label>Long Term Disability</label>
            <input class="form-input" type="checkbox" name="benefits" id="401k">
            <label>401k Employer Match </label>
            <input class="form-input" type="checkbox" name="benefits" id="tuition">
            <label>Tuition Reimbursement</label>
            <input class="form-input" type="checkbox" name="benefits" id="vacation">
            <label>Vacation Time</label>
            <input class="form-input" type="checkbox" name="benefits" id="none">
            <label>I am not offered any benefits</label>
            <button id="savebenefits" type="submit">NEXT</button>
        </div>   
        <div class="form-group group-seven">
            <label>I Am Often Given The Same Appreciation as Other Co-Workers</label>
            <input type="radio" name="emplappreciation" value="yes">
            <label for="yes">Yes</label>
            <input type="radio" name="emplappreciation" value="no">
            <label for="no">No</label>
              <button id="saveemployapp" type="submit">NEXT</button>
        </div>
        <div class="form-group group-sevenhalf">
            <label>My Company Offers Employee Appreciation Programs (Check All That Apply)</label>
             <input type="checkbox" name="apprprog" id="gifts">
            <label>Recognition Gifts (i.e., free lunch, tickets to sporting events/concerts, happy hour)</label>
             <input type="checkbox" name="apprprog" id="discount">
            <label>Employee Discounts</label>
            <input type="checkbox" name="apprprog" id="office-perk">
            <label>Office Perks</label>
             <input type="checkbox" name="apprprog" id="no-perk">
            <label>None</label>
              <button id="saveapprprog" type="submit">NEXT</button>
        </div>
        <div class="form-group group-eight">
            <p>In Addition to Repair Work, I Have to: (Check All That Apply)</p>
            <input type="checkbox" name="addtlwork" id="estimates">
            <label>Prepare Customer Estimates</label>
            <input type="checkbox" name="addtlwork" id="collectparts">
            <label>Collect Parts For Repair Work</label>
            <input type="checkbox" name="addtlwork" id="communicatecust">
            <label>Communicate With Clients to Determine Problems</label>
            <input type="checkbox" name="addtlwork" id="clean">
            <label>Clean Work Area After Each Shift</label>
            <input type="checkbox" name="addtlwork" id="quotes">
            <label>Prepare Quotes</label>
            <input class="form-input" type="checkbox" name="addtlwork
            "id="noaddtlwork">
            <label>I Do Not Have Additional Responsibilities</label>
            <button id="saveaddtlwork" type="submit">NEXT</button>
        </div>   
        <div class="form-group group-nine">
            <label>What Percent of Your Day is Actually Spent Reparing Vehicles?</label>
            </br>
            <input type="radio" name="percent" value=".9">
            <label for="90">90%</label>
            <input type="radio" name="percent" value=".7">
            <label for="75">75%</label>
            <input type="radio" name="percent" value=".5">
            <label for="50">50%</label>
            <input type="radio" name="percent" value=".4">
            <label for="40">less Than 50%</label>
             <button id="savepercent" type="submit">NEXT</button>
        </div>
        <div class="form-group group-ten">
            <label>It's Often Difficult to Stay Current with Repairs Because of Secondary Responsibilities</label>
            <input type="radio" name="staycurrent" value="yes">
            <label for="yes">Yes</label>
            <input type="radio" name="staycurrent" value="no">
            <label for="no">No</label>
              <button id="savestaycurrent" type="submit">NEXT</button>
        </div>
         <div class="form-group group-tenhalf">
            <label>My Company Provides Continuing Education and/or Training (Check All That Apply)</label>
            <input type="checkbox" name="contedu" id="EOM">
            <label for="yes">Paid Manufacturer Specific Certification Training</label>
            <input type="checkbox" name="contedu" id="tuitionbonus">
            <label for="no">Tuition Reimbursement and Tool Bonus Program</label>
             <input type="checkbox" name="contedu" id="leadership">
            <label for="no">Leadership Development Training</label>
            <input type="checkbox" name="contedu" id="external">
            <label for="no">Training From External Sources (e.g., manager, HR Rep, etc.)</label>
              <button id="savecontedu" type="submit">NEXT</button>
        </div>
         <div class="form-group group-eleven">
            <label>I am Encouraged to Further My Eductation to Advance My Career</label>
            <input type="radio" name="adveducation" value="yes">
            <label for="yes">Yes</label>
            <input type="radio" name="adveducation" value="no">
            <label for="no">No</label>
              <button id="saveadveducation" type="submit">NEXT</button>
        </div>
         <div class="form-group group-twelve">
            <label>My Company Does Not Incentivize Continuing Education</label>
            <input type="radio" name="noeduincentive" value="yes">
            <label for="yes">Yes</label>
            <input type="radio" name="noeduincentive" value="no">
            <label for="no">No</label>
              <button id="savenoeduincentive" type="submit">NEXT</button>
        </div>
         <div class="form-group group-twelvehalf">
            <label>My Company Provides State-of-the-Art Technology Tools (Check All That Apply)</label>
            <input type="checkbox" name="techtool" id="text">
            <label for="yes">Text-to-Customer</label>
            <input type="checkbox" name="techtool" id="onlinepayment">
            <label for="no">Online Payment</label>
             <input type="checkbox" name="techtool" id="photovideo">
            <label for="no">Photo-Video Alert to Customer</label>
            <input type="checkbox" name="techtool" id="empIM">
            <label for="no">Employee-to-Employee Instant Messaging for Parts and Approvals</label>
            <input type="checkbox" name="techtool" id="notechtools">
            <label for="no">None</label>
              <button id="savetechtool" type="submit">NEXT</button>
        </div>
          <div class="form-group group-thirteen">
            <label>My Company Provides Me the Necessary Safety Equiptment to Safely Perform My Duties</label>
            </br>
            <input type="radio" name="safetools" value="Yes">
            <label>Yes</label>
            <input type="radio" name="safetools" value="No">
            <label>No</label>
              <button id="savesafetools" type="submit">NEXT</button>
          </div>
          <div class="form-group group-fourteen">
            <label>My Company Provides Day-to-Day Tools for Mechanics, Not Technicians</label>
            </br>
            <input type="radio" name="mechvstechtools" value="Yes">
            <label>Yes</label>
            <input type="radio" name="mechvstechtools" value="No">
            <label>No</label>
               <button id="savemechvstechtools" type="submit">NEXT</button>
        </div>
         <div class="form-group group-fifteen">
            <label>My Manager Works With Me On My Schedule Needs</label>
            </br>
            <input type="radio" name="schedneed" value="Yes">
            <label>Yes</label>
            <input type="radio" name="schedneed" value="No">
            <label>No</label>
              <button id="saveschedneed" type="submit">NEXT</button>
        </div>
        <div class="form-group group-sixteen">
            <label>My Company Provides Opportunities to Advance My Career</label>
            </br>
            <input type="radio" name="advopp" value="Yes">
            <label>Yes</label>
            <input type="radio" name="advopp" value="No">
            <label>No</label>
             <button id="saveadvopp" type="submit">NEXT</button>
        </div>
          <div class="form-group group-seventeen">
            <label>My Productivity is Recognized as Equal to Co-Workers'</label>
            </br>
            <input type="radio" name="equalprod" value="Yes">
            <label>Yes</label>
            <input type="radio" name="equalprod" value="No">
            <label>No</label>
             <button id="saveequalprod" type="submit">NEXT</button>
        </div>
        <div class="form-group group-eighteen">
            <label>My Company Respects Me and My Position</label>
            </br>
            <input type="radio" name="respect" value="Yes">
            <label>Yes</label>
            <input type="radio" name="respect" value="No">
            <label>No</label>
             <button id="saverespect" type="submit">NEXT</button>
        </div>
        <div class="form-group group-nineteen">
            <label>My Company Undervalues My Technical Skill Set</label>
            </br>
            <input type="radio" name="undervalue" value="Yes">
            <label>Yes</label>
            <input type="radio" name="undervalue" value="No">
            <label>No</label>
             <button id="saveundervalue" type="submit">NEXT</button>
        </div>
         <div class="form-group group-twenty">
            <label>My Company Treats Me Like a Mechanic, Not a Technician</label>
            </br>
            <input type="radio" name="mechvstech" value="Yes">
            <label>Yes</label>
            <input type="radio" name="mechvstech" value="No">
            <label>No</label>
             <button id="savemechvstech" type="submit">NEXT</button>
        </div>
        <div class="form-group group-twentyone">
            <label>My Company Strongly Believes in a Work/Life Balance</label>
            </br>
            <input type="radio" name="balance" value="Yes">
            <label>Yes</label>
            <input type="radio" name="balance" value="No">
            <label>No</label>
               <button id="savebalance" type="submit">NEXT</button>
        </div>
</form>

<script src="/js/flow.js"></script>
