<form class="hourspaysurvey" enctype="multipart/form-data">
    <div class="form-group group-one">
        <p>What is Your Current Salary Range?</p>
        <input type="radio" name="salaryans" value="30000">
        <label>25,000 - 35,000</label>
        <input type="radio" name="salaryans" value="41000">
        <label>36,000 - 46,000</label>
        <input type="radio" name="salaryans" value="52000">
        <label>47,000 - 57,000</label>
        <input type="radio" name="salaryans" value="63000">
        <label>58,000 - 68,000 </label>
        <input type="radio" name="salaryans" value="70000">
        <label>69,000 +</label>
    <button id="paysave">NEXT</button>
      </div>
    <div class="form-group group-two">
            <label>What is your skill level?</label>
            </br>
            <input type="radio" name="skill" value="entry">
            <label>Entry Level</label>
            <input type="radio" name="skill" value="general">
            <label>General Tech</label>
            <input type="radio" name="skill" value="certified">
            <label>Certified Tech</label>
        <button id="saveSkill">NEXT</button>
         </div>
    <div class="form-group group-three">
        <label for="hoursperweekans">How Many Hours Per Week Do You Work?</label>
    <input class="form-control" type="text" id="hoursperweekans">
    <button id="savehourans">NEXT</button>
</div>
 <div class="form-group col-sm-4 group-four">
            <label>How does your salary rank amongst your auto tech peers?</label>
            </br>
            <input type="radio" name="rank" value="10">
            <label for="top10">Top 10%</label>
            <input type="radio" name="rank" value="25">
            <label for="top25">Top 25%</label>
            <input type="radio" name="rank" value="50">
            <label for="top50">Top 50%</label>
             <button id="saveRank" type="submit">NEXT</button>
        </div>
    <div class="form-group col-sm-4 group-five">
            <label>My Salary is in-Line with Fair Market Value</label>
            <input type="radio" name="fairsalary" value="yes">
            <label for="yes">Yes</label>
            <input type="radio" name="fairsalary" value="no">
            <label for="no">No</label>
              <button id="savefairsalary" type="submit">NEXT</button>
        </div>
     <div class="form-group col-sm group-six">
            <label>Benefits</label>
            <p>My Current Benefit Offerings Include: (Click All That Apply)</p>
            <input class="form-input" type="checkbox" name="benefits" id="medical">
            <label>Medical</label>
            <input class="form-input" type="checkbox" name="benefits" id="lifeins">
            <label>Life Insurance</label>
            <input class="form-input" type="checkbox" name="benefits" id="ltdis">
            <label>Long Term Disability</label>
            <input class="form-input" type="checkbox" name="benefits" id="401k">
            <label>401k Employer Match </label>
            <input class="form-input" type="checkbox" name="benefits" id="tuition">
            <label>Tuition Reimbursement</label>
            <input class="form-input" type="checkbox" name="benefits" id="vacation">
            <label>Vacation Time</label>
            <input class="form-input" type="checkbox" name="benefits" id="none">
            <label>I am not offered any benefits</label>
            <button id="savebenefits" type="submit">NEXT</button>
        </div>    
</form>

<script src="/js/flow.js"></script>
