<body>
    <nav class="navbar">
        <div class="highScore">
        </div>
        <div class="timer"></div><span id="countdownSpan"></span></div>
    </nav>



    <container id="body">
        <div class="row">
            <div class="col-lg-12">
                 <h2 id ="hof"></i>Auto Tech Survey   <i class="fas fa-car"></i></h1>
                </br>
                <img src="https://www.imagine-america.org/wp-content/uploads/2019/07/auto-technician-under-hood-e1564419859697.jpg">
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="btn-group col-lg-4">
                <button type="button" class="btn btn-success" id="startsurvey">Start Survey </button>
            </div>
            <div class="col-lg-4"></div>
        </div>
        </div>
    </container>
    </body>

    <script src="js/startSurvey.js"></script>