

<div class="hourspaysurvey row" id="survey">
    <button id="start">
        START THE SURVEY
    </button>
    <h3 id="questiontext"></h3>
    <div id="answersContainer">

    </div>
    {{!-- <input class="form-control" type="text" id = {{name}}>{{</h5> --}}
</div>
<div>
            <div class="row">
                <button id="next">NEXT</button>
            </div>
        
</div>
<script src="/js/flowtest.js"></script>