<div class="col-lg-12">
<h2 id ="hof"></i>YOUR RESULTS HERE!   <i class="fas fa-car"></i></h2>
<br>
<h3>Your email address is {{ emaildisplay }} </h3>
<h3> Your id is {{sessionid}}</h3>
<h3> Current salary = {{ salary}}</h3>
</div>

{{!-- {{#each answerData}}
{{>resultcard}}
{{/each}}       --}}

    {{!-- <script src="js/______.js"></script> --}}