<div class="col-lg-12">
<h2 id ="hof"></i>YOUR RESULTS HERE!   <i class="fas fa-car"></i></h2>
<br>
<h3>Your email address is {{ email }} </h3>
<h3> Your id is {{id}}</h3>
<h3> Current salary = {{ Answers.salary}}</h3>
</div>