<div class="col-lg-12">
<h2 id ="hof"></i>YOUR RESULTS HERE!   <i class="fas fa-car"></i></h2>
</div>
{{#each Answerdata}}
{{>resultspage}}
{{/each}}      

    {{!-- <script src="js/______.js"></script> --}}