 <form class=" form survey" enctype="multipart/form-data">
        <div class="form-group">
            <label>What is your current salary?</label>
            <input type="radio" name="salary" value="25">
            <label >25,000 - 35,000</label>
            <input type="radio" name="salary" value="36">
            <label >36,000 - 46,000</label>
            <input type="radio" name="salary" value="47">
            <label >47,000-57,000</label>
            <input type="radio" name="salary" value="58">
            <label >58,000 -68,000 </label>
            <input type="radio" name="salary" value="69">
            <label >69,000 +</label>
        </div>
        <div class = "row">
        <div class="form-group">
            <label>What is your skill level?</label>
            </br>
            <input type="radio" name="skill" value="entry">
            <label>Entry Level</label>
            <input type="radio" name="skill" value="general">
            <label>General Tech</label>
            <input type="radio" name="skill" value="certified">
            <label>Certified Tech</label>
        </div>
        <div class="form-group col-sm">
            <label>How does your salary rank amongst your auto tech peers?</label>
            </br>
            <input type="radio" name="rank" value="10">
            <label for="male">Top 10%</label>
            <input type="radio" name="rank" value="25">
            <label for="female">Top 25%</label>
            <input type="radio" name="rank" value="50">
            <label for="female">Top 50%</label>
        </div>
    
        <div class="form-group">
            <label>My Salary is in-Line with Fair Market Value</label>
            <input type="radio" name="fairsalary" value="yes">
            <label for="yes">Yes</label>
            <input type="radio" name="fairsalary" value="no">
            <label for="no">No</label>
        </div>
        <div class = "row">
        <div class="form-group col-sm">
            <label>Benefits</label>
            <p>My Current Benefit Offerings Include: (Click All That Apply)</p>
            <input class="form-input" type="checkbox" name="medical" id="medical" value="medical">
            <label for="medical">Medical</label>
            <input class="form-input" type="checkbox" name="medical" id="medical" value="medical">
            <label for="medical">Life Insurance</label>
            <input class="form-input" type="checkbox" name="medical" id="medical" value="medical">
            <label for="medical">Long Term Disability</label>
            <input class="form-input" type="checkbox" name="medical" id="medical" value="medical">
            <label for="medical">401k Employer Match</label>
            <input class="form-input" type="checkbox" name="medical" id="medical" value="medical">
            <label for="medical">Tuition Reimbursement</label>
            <input class="form-input" type="checkbox" name="medical" id="medical" value="medical">
            <label for="medical">Vacation Time</label>
        </div>
        <div class="form-group col-sm"></div>
            <label>I Am Often Given The Same Appreciation as Other Co-Workers</label>
            </br>
            <input type="radio" name="emplappreciation" value="Yes">
            <label>Yes</label>
            <input type="radio" name="emplappreciation" value="No">
            <label>No</label>
        </div>
                <div class="form-group col-sm"></div>
            <label>In Addition to Repair Work, I Have to: (Check All That Apply)</label>
            </br>
            <input type="checkbox" name="addtlwork" value="">
            <label>Prepare Customer Estimates</label>
            <input type="checkbox" name="addtlwork" value="">
            <label>Collect Parts For Repair Work</label>
            <input type="checkbox" name="addtlwork" value="">
            <label>Communicate With Clients to Determine Problems</label>
            <input type="checkbox" name="addtlwork" value="">
            <label>Clean Work Area After Each Shift</label>
            <input type="checkbox" name="addtlwork" value="">
            <label>Prepare Quotes</label>
        </div>
        <div class="form-group">
            <label>What Percent of Your Day is Actually Spent Repairing Vehicles?</label>
            </br>
            <input type="radio" name="repairpercent" value="90">
            <label>90%</label>
            <input type="radio" name="repairpercent" value="75">
            <label>75%</label>
            <input type="radio" name="repairpercent" value="50">
            <label>50%</label>
            <input type="radio" name="repairpercent" value="40">
            <label>Less Than 50%</label>
        </div>
        <div class="form-group col-sm"></div>
            <label>It's Often Difficult to Stay Current with Repairs Because of Secondary Responsibilities</label>
            </br>
            <input type="radio" name="staycurrent" value="Yes">
            <label>Yes</label>
            <input type="radio" name="staycurrent" value="No">
            <label>No</label>
        </div>
           <div class="form-group col-sm"></div>
            <label>I am Encouraged to Further My Eductation to Advance My Career</label>
            </br>
            <input type="radio" name="adveducation" value="Yes">
            <label>Yes</label>
            <input type="radio" name="adveducation" value="No">
            <label>No</label>
        </div>
         <div class="form-group col-sm"></div>
            <label>I am Encouraged to Further My Eductation to Advance My Career</label>
            </br>
            <input type="radio" name="noeduincentive" value="Yes">
            <label>Yes</label>
            <input type="radio" name="noeduincentive" value="No">
            <label>No</label>
        </div>
         <div class="form-group col-sm"></div>
            <label>My Company Provides Me the Necessary Safety Equiptment to Safely Perform My Duties</label>
            </br>
            <input type="radio" name="safetools" value="Yes">
            <label>Yes</label>
            <input type="radio" name="safetools" value="No">
            <label>No</label>
        </div>
        <div class="form-group col-sm"></div>
            <label>My Company Provides Day-to-Day Tools for Mechanics, Not Technicians</label>
            </br>
            <input type="radio" name="mechvstechtools" value="Yes">
            <label>Yes</label>
            <input type="radio" name="mechvstechtools" value="No">
            <label>No</label>
        </div>
          <div class="form-group col-sm"></div>
            <label>My Manager Works With Me On My Schedule Needs</label>
            </br>
            <input type="radio" name="schedneed" value="Yes">
            <label>Yes</label>
            <input type="radio" name="schedneed" value="No">
            <label>No</label>
        </div>
         <div class="form-group col-sm"></div>
            <label>My Company Provides Opportunities to Advance My Career</label>
            </br>
            <input type="radio" name="advopp" value="Yes">
            <label>Yes</label>
            <input type="radio" name="advopp" value="No">
            <label>No</label>
        </div>
            <div class="form-group col-sm"></div>
            <label>MMy Productivity is Recognized as Equal to Co-Workers'</label>
            </br>
            <input type="radio" name="equalprod" value="Yes">
            <label>Yes</label>
            <input type="radio" name="equalprod" value="No">
            <label>No</label>
        </div>
        <div class="form-group col-sm"></div>
            <label>My Company Respects Me and My Position</label>
            </br>
            <input type="radio" name="respect" value="Yes">
            <label>Yes</label>
            <input type="radio" name="respect" value="No">
            <label>No</label>
        </div>
        <div class="form-group col-sm"></div>
            <label>My Company Undervalues My Technical Skill Set</label>
            </br>
            <input type="radio" name="undervalue" value="Yes">
            <label>Yes</label>
            <input type="radio" name="undervalue" value="No">
            <label>No</label>
        </div>
          <div class="form-group col-sm"></div>
            <label>My Company Treats Me Like a Mechanic, Not a Technician</label>
            </br>
            <input type="radio" name="mechvstech" value="Yes">
            <label>Yes</label>
            <input type="radio" name="mechvstech" value="No">
            <label>No</label>
        </div>
         <div class="form-group col-sm"></div>
            <label>My Company Strongly Believes in a Work/Life Balance</label>
            </br>
            <input type="radio" name="balance" value="Yes">
            <label>Yes</label>
            <input type="radio" name="balance" value="No">
            <label>No</label>
        </div>
        {{!-- is the below div extra? --}}
        </div>
        <!-- Slider resource https://www.w3schools.com/howto/howto_js_rangeslider.asp -->
        {{!-- <div class="slidecontainer form-group">
            <label>Label <span id= "slider"></span></label>
            <input type="range" min="1" max="5" value="3" class="slider" id="energyLevel"> --}}
            {{!-- <small id="" class="form-text text-muted">1 2 3 4 5</small> --}}
        {{!-- </div> --}}
        </div>
        </br>
        </br>
        <div class = "row">
            <div class = "form-group col-sm" style = "text-align: center">
<button class="btn btn-action btn-large" id = "finalSubmit">Submit</button>
        </div>
        </div>
        </div>
</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/flow.js"></script>