h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }

  h1, h2 {
    font-weight: bold;
    color:teal
  }
  #hof {
    color: black;
    font-size: 36px;
  }
  
  .btn-success {
    width: 80px;
    height: 60px;
    align-items: center;
    background-color: rgb(199, 52, 15)!important;
    border:none!important;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px!important;
  }
  
  .btn-success:hover {
    background-color: rgb(134, 27, 0)!important;
    border:none;
    /* box-shadow: rgba(119, 0, 0, 0.913) 0px 7px 29px 0.2px; */
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  /* .form-group {
    padding: 10%;
    align-self: center;
    background-color: rgb(225, 245, 178);
    display: flex;
    flex-direction: column;
  } */

  .group-one, .group-two, .group-three, .group-threehalf, .group-four, .group-five, .group-six, .group-seven, .group-sevenhalf, .group-eight, .group-nine, .group-ten, .group-tenhalf, .group-eleven, .group-twelve, .group-twelvehalf, .group-thirteen, .group-fourteen, .group-fifteen, .group-sixteen, .group-seventeen, .group-eighteen, .group-nineteen, .group-twenty, .group-twentyone {
    display: none;
  }

  button {
    background-color:  rgb(124, 150, 141);
    /* border: none; */
    /* padding: 1rem; */
    border-radius: 5px;
    font-size: 28px;
    font-family: 'Quicksand', sans-serif;
    margin-top: 15%;
    /* display: flex!important; */
    text-align: center!important;
    max-width: 100%;
  }

  button:hover {
    background-color: rgb(163, 204, 190);

  }

  /* .form-group label, p {
    text-align: center;
    font-size: 2em;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
  } */

  .hourspaysurvey {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
  }

  
  /* CUSTOM RADIO AND CHECKBOX STYLES */
/* input[type=radio] {
}
input[type=checkbox] + label:before{
  border-radius:2px;
} */

/* label{ */
  /* text-align: left;
  clear: both;
  float: right;
  margin-right: 15px;
  border: solid 2 px; */
  /* text-align: left;
    clear: both;
    float: left;
    margin-right: 15px;
    margin-top: -22px;
} */
/* 
 input {
  height: 20px;
  width: 300px;
  border: 1px solid #000;
  margin-top: 15px;
  float: right;
} */
/* #email, #hoursperweekans, #earnings{
  height: 45px;
} */

.input-group-radio {
  font-size: 24px;
  max-width: 80%;
}

.input-group {
 font-size: 28px;
 padding-left: 15%;
 flex-direction: column;
}
label {
  font-size: 28px;
}
