h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  
  .btn-success {
    width: 80px;
    height: 60px;
    align-items: center;
    background-color: rgb(199, 52, 15)!important;
    border:none!important;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px!important;
  }
  
  .btn-success:hover {
    background-color: rgb(134, 27, 0)!important;
    border:none;
    /* box-shadow: rgba(119, 0, 0, 0.913) 0px 7px 29px 0.2px; */
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
  }
  
  btn-outline-info {
    font-size: 32px;
    color:teal!important;
  
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .form-group {
    padding-left: 0%;
  }

  .group-one {
    display: block;
  }

  .group-one, .group-two, .group-three, .group-threehalf, .group-four, .group-five, .group-six, .group-seven, .group-sevenhalf, .group-eight, .group-nine, .group-ten, .group-tenhalf, .group-eleven, .group-twelve, .group-twelvehalf, .group-thirteen, .group-fourteen, .group-fifteen, .group-sixteen, .group-seventeen, .group-eighteen, .group-nineteen, .group-twenty, .group-twentyone {
    display: none;
  }

  .form-group button {
    background-color: aquamarine;
    align-content: center;
  }

  .form-group p {
    text-align: left;
  }